
body{

    background-color: rgb(232, 199, 200);
    accent-color: black;
}​

.text{
    display:flex;
    justify-content: center;
    color:grey;
}

.flexbox-sketch{
    display:flex;
    width:100vw;
    justify-content: space-evenly;
    align-items:center;
}

.sketch-options{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    gap: 10px;
    padding: 10px;
}


.container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:30vw;
    justify-content: flex-start;
    min-height:80vh;
    max-height: 80vh;
    border: 1px solid black;
    border-width:100px;
    border-style:solid;
    border-image: url('/2874906.svg') 20% round; 
    padding: 10px;
}

.sub{
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    width:32px;
    height:auto;
    border: 1px solid seashell;
    
}