body{

    background-color: white;
    
    
    
}
.text{
    display:flex;
    justify-content: center;
    color:grey;
}
.flexbox-sketch{
    display:flex;
    width:100vw;

    
    justify-content: space-evenly;
    align-items:flex-start;
}

.container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:30vw;
    justify-content: flex-start;
    min-height:80vh;
    max-height: 80vh;
    

    
}
.sub{
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    
    
    width:32px;
    height:auto;
    
    
      
    
    
    border: 1px solid rgb(232, 199, 200);;
    
}